body{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  background-color: #ECC9EE;
}
.App {
  text-align: center;
  background-color: #FFDCB6;
  border: 3px solid#FFDCB6;
  border-radius: 5px;
  width: 100%;
}
.accountAddress{
  color: #2A2F4F;
}
.mintButton {
  background-color: #C9A7EB;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.mintButton:hover {
  background-color: #9384D1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
